{% extends 'base.html.twig' %}

{% block title %}Basic AJAX Demo{% endblock %}

{% block body %}
    <h1>Building Locations (AJAX)</h1>
    <p class="text-muted">Data is loaded from the database through API Platform and rendered via <code>@survos/tree-bundle/api_tree</code>.</p>

    {% set apiUrl = path('building_locations', { buildingId: building.code, _format: 'json' }) %}

    <div class="row g-3">
        <div class="col-md-8">
            {% component api_tree with {
                apiUrl: apiUrl,
                class: 'App\\Entity\\Location'
            } %}
            {% endcomponent %}
        </div>

        <div class="col-md-4">
            <div {{ stimulus_controller('topic') }}>
                <h3 {{ stimulus_target('topic', 'title') }}>Selection</h3>
                <pre class="border rounded p-2 bg-white" {{ stimulus_target('topic', 'results') }}>Waiting for selection...</pre>
            </div>
        </div>
    </div>
{% endblock %}
