{% extends 'base.html.twig' %}

{% block title %}Basic HTML Demo{% endblock %}

{% block body %}
    JS Tree Home page

    {% set _controller = '@survos/ux-tree/hello' %}
    <div {{ stimulus_controller(_controller, {
        title: 'testing bundle controller (stimulus)'
    }) }}>
        Hello controller. {{ _controller }}
        <i>
            <span {{ stimulus_target(_controller, 'msg') }}>
                the msg target.
            </span>

        </i>
    </div>

{#    <div {{ stimulus_controller('tour') }}>#}
{#        Tour#}
{#    </div>#}

{% endblock %}
