{% extends 'base.html.twig' %}

{% block title %}Basic HTML Demo{% endblock %}

{% block body %}

    <h1>Survos Tree Bundle</h1>
    <div>
        Grab README.me from the bundle?  Or...
    </div>

    <h2>A Stimulus Controller</h2>
    <div>
        At the most basic level, you can turn any tree into a dynamic tree by using the stimulus controller.  It's a bit of a yawn, but it gives developers a very fast way to implement it.  It requires you already have an unordered list.  In this case, we're just copying from the jstree documentation.
    </div>
    {{ component('divider') }}

    <h2>{{ 'gedmo-tree.title'|trans }}</h2>
    <div>
        {{ 'gedmo-tree.intro'|trans }}
    </div>
    {{ component('divider') }}

{% endblock %}
