<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic HTML Demo</title>
</head>
<body>

<h1>#html1</h1>

<div id="html1">
    <ul>
        <li class="jstree-open" id="node_1">Root
            <ul>
                <li>
                    <a href="#" class="jstree-clicked">Child</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>
