{% extends 'base.html.twig' %}

{% block title %}New Building{% endblock %}

{% block body %}
    <h1>Create new Building</h1>

    {{ include('building/_form.html.twig') }}

    <a href="{{ path('building_index') }}">back to list</a>
{% endblock %}
