{% extends 'layout.html.twig' %}

{% block title %}Topics (API Tree){% endblock %}

{% block body %}
    <h1>Topics (API Tree)</h1>

    <div class="row g-3">
        <div class="col-md-5">
            {% component api_tree with {
                class: topicClass,
                filter: filter|default({}),
                editable: true
            } %}
            {% endcomponent %}
        </div>

    {#        <div class="col-md-7">#}
    {#            <div {{ stimulus_controller('topic') }}>#}
    {#                <h3 {{ stimulus_target('topic', 'title') }}>Selection</h3>#}
    {#                <pre class="border rounded p-3 bg-white" {{ stimulus_target('topic', 'results') }}>Select a topic node.</pre>#}
    {#            </div>#}
    {#        </div>#}
    </div>
{% endblock %}
